body {
    margin: 0;
}

header {
    background: #03a9f4;
    text-align: center;
}
.logo {
    color: #fff;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
header input {
    font-size: 20px;
    margin: 20px 0;

    
}
